/* global styles start*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --dark: #0b0223;
    --light1: #3c354f;
    --light2: #534c64;
    --primary-color: #ff42a5;
    --text-primary-color: linear-gradient(90deg, #F948B2 0%, #F948B2 100%);
    --secondary-color: #4ec5f7;
    --white: #fff;
    --red: #ff0000;
    --light-red: #de020291;
}

body {
    max-width: 1440px;
    margin: 0px auto;
}

li {
    cursor: pointer;
}

.btn-primary {
    border: none;
    border-radius: 30px;
    padding: 12px 25px;
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--primary-color);
    outline: 1.5px solid var(--primary-color);
}


.btn-secondary {
    border: none;
    border-radius: 30px;
    padding: 12px 25px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}

.logo img {
    width: 40px;
}

.logo {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h3::first-letter {
    color: var(--primary-color);
}

.title {
    font-size: 2rem;
    color: var(--dark);
}

.description {
    color: var(--light1);
    font-size: 0.9rem;
    padding: 20px 0;
}

.title-gradient {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 700;
}

.text-gradient {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 250%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* global styles end*/



/* header navbar section styles start */
header {
    position: sticky;
    z-index: 10;
    top: 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--white);
    padding: 20px 0;

}

nav>ul {
    display: flex;
    align-items: center;
    gap: 28px;
}

nav ul li {
    color: var(--light1);
}

nav ul li:hover {
    color: var(--primary-color);
}

.fa-youtube {
    color: var(--red);
}

nav>ul>li:last-child {
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(11, 2, 35, 0.1);
}

/* header navbar section styles end */



/* banner section styles start */
.banner-section {
    background-image: url("./images/background-img.png");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: center left;
  }
  .banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(10px + 10%);
  }
  
  .banner{
    flex: 1;
  }

  .banner h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark);
    text-transform: uppercase;

  }

  .banner h1 {
    font-size: 3.0rem;
    font-weight: 800;
  }

  .banner-content button {
    margin-right: 15px;
  }
  
  .banner-img {
    flex: 1;
  }

  .banner-img img {
    width: 100%;
  }
  
  .banner ul {
    margin: 15px 0;
  }
  
  .banner ul li {
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: 20px;
  }
/* banner section styles end */